<table>
    @for (int i = 0; i < X; i++)
    {
        <tr>
            @for (int j = 0; j < Y; j++)
            {
                <td class="game-cell">
                    @if (Board[i, j] != null)
                    {
                        <button class="cell-button" @onclick="() => ClickCell(i, j)">
                            @Board[i, j].Id <br />
                            @Board[i, j].X, @Board[i, j].Y
                        </button>
                    }
                </td>
            }
        </tr>
    }
</table>
