@page "/gameinfo"

<h4>Number of Moves: @NumberOfMoves</h4>
@if(Winner)
{
    <h3>You Won!</h3>
}

@code {
    [Parameter]
    public int NumberOfMoves { get; set; } = 0;
    [Parameter]
    public bool Winner { get; set; } 
}
