
<table>
    @foreach (var rows in Puzzle.Rows)
    {
        <tr>
            @foreach (var cell in rows.Cells)
            {

            <td class="game-cell">
                @if (cell != null)
                {
                    <button class="cell-button" @onclick="() => ClickCell(cell.X, cell.Y)">
                        @*<img src="@cell.ImageUrl" />*@
                        @cell.Id
                    </button>
                }
            </td>
                
            }
        </tr>
    }
</table>

<GameInfo 
    NumberOfMoves="@NumberOfMoves"
    Winner="@Winner"
/>

