@page "/"

<h1>Blazor Block Game</h1>

<table>
    @for (int i = 0; i < X; i++)
    {
        <tr>
            @for (int j = 0; j < Y; j++)
            {
                <td>
                    @GameBoard[i,j]
                </td>
            }
        </tr>
    }
</table>

