@page "/"

<h2>Blazor Block Game</h2>
<p>
    Click a block to slide it into an open adjacent square. <br />
    Unscramble the picture win.  The bottom right corner will be empty.
</p>

<GameBoard />
